@using CanvasAssignmentSync.Data
@inject CanvasService CanvasService
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<EditForm Model="@_settings.Model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Canvas Settings</h3>
    <div class="row">
        <label>
            API URI
            <InputText class="form-control" id="apiuri" @bind-Value="_settings.Model.APIURI"></InputText>
        </label>
    </div>

    <div class=row>
    <label>
        API Key
        <InputText class="form-control" id="apikey" @bind-Value="_settings.Model.APIKey"></InputText>
    </label>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Course</td>
                    <td>Start date</td>
                    <td>Sync enabled</td>
                </tr>
            </thead>
            <tbody>
                @if (courseList is not null)
                {
                    foreach(var course in courseList)
                    {
                        <tr>
                            <td>@course.Name</td>
                            <td>@(course.StartAt.ToString("dd/MM/yyyy"))</td>
                            <td><InputCheckbox class="form-switch" @bind-Value="@course.ShouldSync"></InputCheckbox></td>
                        </tr>
                    }
                    
                }
            </tbody>

        </table>

    </div>
    
    <button type="submit" class="btn btn-primary">Apply</button>

    <ValidationSummary/>

</EditForm>

@code {
    // TODO bæta við takka til að fá token

    private List<Course>? courseList;
    private SettingsHandler<CanvasSettings>? _settings;
    //private CanvasSettings _model; // Todo skoða SettingsHandler architecture
    // Þetta þarf að vera h+erna fyrir razor síðuna. En hvernig á þá að lesa úr json skránni og setja inn í modelið?
    // Lets find out after I get some sleep.


    protected override void OnInitialized()
    {
        var path = Configuration["CanvasSettingsPath"];
        _settings = new SettingsHandler<CanvasSettings>(new CanvasSettings(), path);
        _settings.GetSettings();
    }

    protected override async Task OnInitializedAsync()
    {
        courseList = await CanvasService.GetCourseListAsync();
        courseList?.Sort();
    }
    

    private void HandleValidSubmit()
    {

        _settings.WriteSettingsToFile();
    }
}
